/*  if header is wanted to be sticky all the way, the following code is to handle float element
body:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
*/

#peek{
    outline: medium dashed #00ff00;
    border-radius: 30px;
}

.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: background-color 1s;
}

.overlay.open{
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

:root {
    --dark: #333;
    --light: #00002222;
    --textfont: "Comic Sans MS", "KaiTi";
    --buttonfontsize: 22px;
    --textfontsize: 22.3px;
    --questionsfontsize: 25px;
}

body {
    font-family: var(--textfont), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, div {
    border-radius: 10px;
}

header, #customize, .gridItem{
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    outline: solid thin black;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: var(--dark);
    max-width: 100%;
    padding: 10px;
    text-align: center;
    background-image: url("trust.png");
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
    background-size: 80px 80px;
}

#h13{
    display: inline;
}

header:hover {
    background-image: url("closedEyes.jpg");
}

header h1, header h3 {
    font-family: var(--textfont);
    display: inline-flex;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 12px 5px 12px 0px;
    /*background-color: rgb(0, 0, 183);*/
    box-shadow: inset 0px 0px 4px yellow, 0px 0px 15px yellow;
}

#navigationBar {
    width: 60px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

#customize {
    margin-top: 10px;
    text-align: center;
    background-color: #00220022;
    overflow-x: auto;
    padding-bottom: 20px;
}
/*
.gridItem, #customize .button{
    z-index: 100;
}*/

#customize h2{
    display: inline-flex;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #0000;
    border-radius: 5px;
    animation-name: reverseCustomizeTitleAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#customize h2:hover{
    background-color: var(--dark);
    color:white;
    animation-name: CustomizeTitleAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


#gridCustom {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px;
}

.gridItem {
    display: inline-flex;
    background-color: #00002222;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: var(--textfontsize);
}
/*
    animation-name: reverseButtonAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.gridItem:hover{
    background-color: var(--dark);
    color:white;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
*/

.checkbox {
    width: 17px;
    aspect-ratio: 1;
    border-radius: 5px;
    accent-color: auto;
}

#gridItemForCalculationType{
    display: inline-flex;
    gap: 20px;
}

#calculationType {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#questions{
    font-size: var(--questionsfontsize);
    text-align: center;
}

.section{
    width: 23%;
    float: left;
    margin: 0.5%;
    padding: 0.5%;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .section{
        width: 100%;
    }

    #gridCustom{
        grid-template-columns: auto;
    }

    #calculationType {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
    }

    header{
        background-size: 11vw, 11vw;
    }

    header h1{
        font-size: 24px;
        margin-bottom: 0px;
    }

    header h3{
        font-size: 10px;
    }

    #customize h2{
        font-size: 16px;
    }

    #navigationBar {
        padding: 0px 0px;
    }
}

@media screen and (max-width: 499px) {
    .section{
        width: 100%;
    }

    #gridCustom{
        grid-template-columns: auto;
    }

    #calculationType {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
    }

    header{
        background-size: 11vw, 11vw;
    }

    header h1{
        font-size: 24px;
        margin-bottom: 0px;
    }

    header h3{
        display: none;
    }

    #customize h2{
        font-size: 16px;
    }

    #navigationBar {
        padding: 0px 0px;
    }

    #navigation, #navigationBar{
        visibility: hidden;
    }

    #github {
        position: inherit;
    }
}

.clear-both{
    clear: both;
}

li{
    padding: 9px;
    border-radius: 5px;
}
/*
    animation-name: reverseButtonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

li:hover{
    background-color: var(--dark);
    color:white;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
*/

#score, #time {
    border-radius: 5px;
    font-size: var(--textfontsize);
    padding: 0px 6px;
    margin-left: 1vw;
    margin-right: 1vw;
    float: right;
    outline: thick double #32a1ce;
}

.questionbox{
    width: 63px;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
}

#questions img{
    width: 27px;
    aspect-ratio: 1;
    float: right;
    padding: 5px 0px;
}

select {
    font-size: var(--textfontsize);
    font-family: var(--textfont);
    text-align: center;
    border-radius: 5px;
}

#buttonfield {
    justify-content:left;
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 100%;
    text-align: center;
    overflow: auto;
    align-items: center;
    padding: 8px 0px;
}

.right {
    float:right;
}

.left {
    float: left;
}

.sticky-bottom{
    position:sticky;
    bottom: 0px;
}

/* if github icon is used
.link-external {
    background-image: url(github-mark.svg), url(link-external.svg);
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
    background-size: 0.95em, 0.857em;
    padding-right: 1em;
    padding-left: 1em;
}
*/

.link-external {
    background-image: url(link-external.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em;
}

.button {
    background-color: #00002222;
    color:black;
    font-size: var(--buttonfontsize);
    font-family: var(--textfont);
    border-radius: 5px;
    border-color: black;
    margin-left: 1vw;
    margin-right: 1vw;
    animation-name: reverseButtonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    box-shadow: 5px 5px 5px black;
}

.button:hover{
    background-color: var(--dark);
    color:white;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.button:focus{
    background-color: var(--dark);
    color:white;
    box-shadow: 5px 5px 5px gold;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.button:active{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px green;
}


.customizeTitle {
    padding: 5px;
    background-color: #0000;
    border-radius: 5px;
    animation-name: reverseCustomizeTitleAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.customizeTitle:hover{
    background-color: var(--dark);
    color:white;
    animation-name: CustomizeTitleAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#navigationMenu {
    z-index: 1;
    display: block;
    overflow: auto;
    transition: 1s;
    width: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: fixed;
    height: 100%;
}

#navigation li a, #close{
    display: block;
    font-size: 20px;
    color: #000;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    transition-duration: 0.3s;
}

#navigation li a:active, #close:active {
    background-color: #04AA6D;
    color: white;
}

#navigation li a:hover, #close:hover{
    background-color: #555;
    color: white;
}

#close {
    border-style: none;
    width: 100%;
    text-align: inherit;
    font-family: inherit;
    margin-top: 10px;
    cursor: pointer;
}

@keyframes buttonAnimation {
    0% {background: linear-gradient(to right, var(--dark) 0% 0%, var(--light) 0% 100%); color:black;}
    1% {background: linear-gradient(to right, var(--dark) 0% 1%, var(--light) 1% 100%);}
    2% {background: linear-gradient(to right, var(--dark) 0% 2%, var(--light) 2% 100%);}
    3% {background: linear-gradient(to right, var(--dark) 0% 3%, var(--light) 3% 100%);}
    4% {background: linear-gradient(to right, var(--dark) 0% 4%, var(--light) 4% 100%);}
    5% {background: linear-gradient(to right, var(--dark) 0% 5%, var(--light) 5% 100%);}
    6% {background: linear-gradient(to right, var(--dark) 0% 6%, var(--light) 6% 100%);}
    7% {background: linear-gradient(to right, var(--dark) 0% 7%, var(--light) 7% 100%);}
    8% {background: linear-gradient(to right, var(--dark) 0% 8%, var(--light) 8% 100%);}
    9% {background: linear-gradient(to right, var(--dark) 0% 9%, var(--light) 9% 100%);}
    10% {background: linear-gradient(to right, var(--dark) 0% 10%, var(--light) 10% 100%);}
    11% {background: linear-gradient(to right, var(--dark) 0% 11%, var(--light) 11% 100%);}
    12% {background: linear-gradient(to right, var(--dark) 0% 12%, var(--light) 12% 100%);}
    13% {background: linear-gradient(to right, var(--dark) 0% 13%, var(--light) 13% 100%);}
    14% {background: linear-gradient(to right, var(--dark) 0% 14%, var(--light) 14% 100%);}
    15% {background: linear-gradient(to right, var(--dark) 0% 15%, var(--light) 15% 100%);}
    16% {background: linear-gradient(to right, var(--dark) 0% 16%, var(--light) 16% 100%);}
    17% {background: linear-gradient(to right, var(--dark) 0% 17%, var(--light) 17% 100%);}
    18% {background: linear-gradient(to right, var(--dark) 0% 18%, var(--light) 18% 100%);}
    19% {background: linear-gradient(to right, var(--dark) 0% 19%, var(--light) 19% 100%);}
    20% {background: linear-gradient(to right, var(--dark) 0% 20%, var(--light) 20% 100%);}
    21% {background: linear-gradient(to right, var(--dark) 0% 21%, var(--light) 21% 100%);}
    22% {background: linear-gradient(to right, var(--dark) 0% 22%, var(--light) 22% 100%);}
    23% {background: linear-gradient(to right, var(--dark) 0% 23%, var(--light) 23% 100%);}
    24% {background: linear-gradient(to right, var(--dark) 0% 24%, var(--light) 24% 100%);}
    25% {background: linear-gradient(to right, var(--dark) 0% 25%, var(--light) 25% 100%);}
    26% {background: linear-gradient(to right, var(--dark) 0% 26%, var(--light) 26% 100%);}
    27% {background: linear-gradient(to right, var(--dark) 0% 27%, var(--light) 27% 100%);}
    28% {background: linear-gradient(to right, var(--dark) 0% 28%, var(--light) 28% 100%);}
    29% {background: linear-gradient(to right, var(--dark) 0% 29%, var(--light) 29% 100%);}
    30% {background: linear-gradient(to right, var(--dark) 0% 30%, var(--light) 30% 100%);}
    31% {background: linear-gradient(to right, var(--dark) 0% 31%, var(--light) 31% 100%);}
    32% {background: linear-gradient(to right, var(--dark) 0% 32%, var(--light) 32% 100%);}
    33% {background: linear-gradient(to right, var(--dark) 0% 33%, var(--light) 33% 100%);}
    34% {background: linear-gradient(to right, var(--dark) 0% 34%, var(--light) 34% 100%);}
    35% {background: linear-gradient(to right, var(--dark) 0% 35%, var(--light) 35% 100%);}
    36% {background: linear-gradient(to right, var(--dark) 0% 36%, var(--light) 36% 100%);}
    37% {background: linear-gradient(to right, var(--dark) 0% 37%, var(--light) 37% 100%);}
    38% {background: linear-gradient(to right, var(--dark) 0% 38%, var(--light) 38% 100%);}
    39% {background: linear-gradient(to right, var(--dark) 0% 39%, var(--light) 39% 100%);}
    40% {background: linear-gradient(to right, var(--dark) 0% 40%, var(--light) 40% 100%);}
    41% {background: linear-gradient(to right, var(--dark) 0% 41%, var(--light) 41% 100%);}
    42% {background: linear-gradient(to right, var(--dark) 0% 42%, var(--light) 42% 100%);}
    43% {background: linear-gradient(to right, var(--dark) 0% 43%, var(--light) 43% 100%);}
    44% {background: linear-gradient(to right, var(--dark) 0% 44%, var(--light) 44% 100%);}
    45% {background: linear-gradient(to right, var(--dark) 0% 45%, var(--light) 45% 100%);}
    46% {background: linear-gradient(to right, var(--dark) 0% 46%, var(--light) 46% 100%);}
    47% {background: linear-gradient(to right, var(--dark) 0% 47%, var(--light) 47% 100%);}
    48% {background: linear-gradient(to right, var(--dark) 0% 48%, var(--light) 48% 100%);}
    49% {background: linear-gradient(to right, var(--dark) 0% 49%, var(--light) 49% 100%);}
    50% {background: linear-gradient(to right, var(--dark) 0% 50%, var(--light) 50% 100%);}
    51% {background: linear-gradient(to right, var(--dark) 0% 51%, var(--light) 51% 100%);}
    52% {background: linear-gradient(to right, var(--dark) 0% 52%, var(--light) 52% 100%);}
    53% {background: linear-gradient(to right, var(--dark) 0% 53%, var(--light) 53% 100%);}
    54% {background: linear-gradient(to right, var(--dark) 0% 54%, var(--light) 54% 100%);}
    55% {background: linear-gradient(to right, var(--dark) 0% 55%, var(--light) 55% 100%);}
    56% {background: linear-gradient(to right, var(--dark) 0% 56%, var(--light) 56% 100%);}
    57% {background: linear-gradient(to right, var(--dark) 0% 57%, var(--light) 57% 100%);}
    58% {background: linear-gradient(to right, var(--dark) 0% 58%, var(--light) 58% 100%);}
    59% {background: linear-gradient(to right, var(--dark) 0% 59%, var(--light) 59% 100%);}
    60% {background: linear-gradient(to right, var(--dark) 0% 60%, var(--light) 60% 100%);}
    61% {background: linear-gradient(to right, var(--dark) 0% 61%, var(--light) 61% 100%);}
    62% {background: linear-gradient(to right, var(--dark) 0% 62%, var(--light) 62% 100%);}
    63% {background: linear-gradient(to right, var(--dark) 0% 63%, var(--light) 63% 100%);}
    64% {background: linear-gradient(to right, var(--dark) 0% 64%, var(--light) 64% 100%);}
    65% {background: linear-gradient(to right, var(--dark) 0% 65%, var(--light) 65% 100%);}
    66% {background: linear-gradient(to right, var(--dark) 0% 66%, var(--light) 66% 100%);}
    67% {background: linear-gradient(to right, var(--dark) 0% 67%, var(--light) 67% 100%);}
    68% {background: linear-gradient(to right, var(--dark) 0% 68%, var(--light) 68% 100%);}
    69% {background: linear-gradient(to right, var(--dark) 0% 69%, var(--light) 69% 100%);}
    70% {background: linear-gradient(to right, var(--dark) 0% 70%, var(--light) 70% 100%);}
    71% {background: linear-gradient(to right, var(--dark) 0% 71%, var(--light) 71% 100%);}
    72% {background: linear-gradient(to right, var(--dark) 0% 72%, var(--light) 72% 100%);}
    73% {background: linear-gradient(to right, var(--dark) 0% 73%, var(--light) 73% 100%);}
    74% {background: linear-gradient(to right, var(--dark) 0% 74%, var(--light) 74% 100%);}
    75% {background: linear-gradient(to right, var(--dark) 0% 75%, var(--light) 75% 100%);}
    76% {background: linear-gradient(to right, var(--dark) 0% 76%, var(--light) 76% 100%);}
    77% {background: linear-gradient(to right, var(--dark) 0% 77%, var(--light) 77% 100%);}
    78% {background: linear-gradient(to right, var(--dark) 0% 78%, var(--light) 78% 100%);}
    79% {background: linear-gradient(to right, var(--dark) 0% 79%, var(--light) 79% 100%);}
    80% {background: linear-gradient(to right, var(--dark) 0% 80%, var(--light) 80% 100%);}
    81% {background: linear-gradient(to right, var(--dark) 0% 81%, var(--light) 81% 100%);}
    82% {background: linear-gradient(to right, var(--dark) 0% 82%, var(--light) 82% 100%);}
    83% {background: linear-gradient(to right, var(--dark) 0% 83%, var(--light) 83% 100%);}
    84% {background: linear-gradient(to right, var(--dark) 0% 84%, var(--light) 84% 100%);}
    85% {background: linear-gradient(to right, var(--dark) 0% 85%, var(--light) 85% 100%);}
    86% {background: linear-gradient(to right, var(--dark) 0% 86%, var(--light) 86% 100%);}
    87% {background: linear-gradient(to right, var(--dark) 0% 87%, var(--light) 87% 100%);}
    88% {background: linear-gradient(to right, var(--dark) 0% 88%, var(--light) 88% 100%);}
    89% {background: linear-gradient(to right, var(--dark) 0% 89%, var(--light) 89% 100%);}
    90% {background: linear-gradient(to right, var(--dark) 0% 90%, var(--light) 90% 100%);}
    91% {background: linear-gradient(to right, var(--dark) 0% 91%, var(--light) 91% 100%);}
    92% {background: linear-gradient(to right, var(--dark) 0% 92%, var(--light) 92% 100%);}
    93% {background: linear-gradient(to right, var(--dark) 0% 93%, var(--light) 93% 100%);}
    94% {background: linear-gradient(to right, var(--dark) 0% 94%, var(--light) 94% 100%);}
    95% {background: linear-gradient(to right, var(--dark) 0% 95%, var(--light) 95% 100%);}
    96% {background: linear-gradient(to right, var(--dark) 0% 96%, var(--light) 96% 100%);}
    97% {background: linear-gradient(to right, var(--dark) 0% 97%, var(--light) 97% 100%);}
    98% {background: linear-gradient(to right, var(--dark) 0% 98%, var(--light) 98% 100%);}
    99% {background: linear-gradient(to right, var(--dark) 0% 99%, var(--light) 99% 100%);}
    100% {background: linear-gradient(to right, var(--dark) 0% 100%, var(--light) 100% 100%); color:white;}
    
}

@keyframes reverseButtonAnimation {
    0% {background: linear-gradient(to right, var(--dark) 0% 100%, var(--light) 100% 100%); color:white}
    1% {background: linear-gradient(to right, var(--dark) 0% 99%, var(--light) 99% 100%);}
    2% {background: linear-gradient(to right, var(--dark) 0% 98%, var(--light) 98% 100%);}
    3% {background: linear-gradient(to right, var(--dark) 0% 97%, var(--light) 97% 100%);}
    4% {background: linear-gradient(to right, var(--dark) 0% 96%, var(--light) 96% 100%);}
    5% {background: linear-gradient(to right, var(--dark) 0% 95%, var(--light) 95% 100%);}
    6% {background: linear-gradient(to right, var(--dark) 0% 94%, var(--light) 94% 100%);}
    7% {background: linear-gradient(to right, var(--dark) 0% 93%, var(--light) 93% 100%);}
    8% {background: linear-gradient(to right, var(--dark) 0% 92%, var(--light) 92% 100%);}
    9% {background: linear-gradient(to right, var(--dark) 0% 91%, var(--light) 91% 100%);}
    10% {background: linear-gradient(to right, var(--dark) 0% 90%, var(--light) 90% 100%);}
    11% {background: linear-gradient(to right, var(--dark) 0% 89%, var(--light) 89% 100%);}
    12% {background: linear-gradient(to right, var(--dark) 0% 88%, var(--light) 88% 100%);}
    13% {background: linear-gradient(to right, var(--dark) 0% 87%, var(--light) 87% 100%);}
    14% {background: linear-gradient(to right, var(--dark) 0% 86%, var(--light) 86% 100%);}
    15% {background: linear-gradient(to right, var(--dark) 0% 85%, var(--light) 85% 100%);}
    16% {background: linear-gradient(to right, var(--dark) 0% 84%, var(--light) 84% 100%);}
    17% {background: linear-gradient(to right, var(--dark) 0% 83%, var(--light) 83% 100%);}
    18% {background: linear-gradient(to right, var(--dark) 0% 82%, var(--light) 82% 100%);}
    19% {background: linear-gradient(to right, var(--dark) 0% 81%, var(--light) 81% 100%);}
    20% {background: linear-gradient(to right, var(--dark) 0% 80%, var(--light) 80% 100%);}
    21% {background: linear-gradient(to right, var(--dark) 0% 79%, var(--light) 79% 100%);}
    22% {background: linear-gradient(to right, var(--dark) 0% 78%, var(--light) 78% 100%);}
    23% {background: linear-gradient(to right, var(--dark) 0% 77%, var(--light) 77% 100%);}
    24% {background: linear-gradient(to right, var(--dark) 0% 76%, var(--light) 76% 100%);}
    25% {background: linear-gradient(to right, var(--dark) 0% 75%, var(--light) 75% 100%);}
    26% {background: linear-gradient(to right, var(--dark) 0% 74%, var(--light) 74% 100%);}
    27% {background: linear-gradient(to right, var(--dark) 0% 73%, var(--light) 73% 100%);}
    28% {background: linear-gradient(to right, var(--dark) 0% 72%, var(--light) 72% 100%);}
    29% {background: linear-gradient(to right, var(--dark) 0% 71%, var(--light) 71% 100%);}
    30% {background: linear-gradient(to right, var(--dark) 0% 70%, var(--light) 70% 100%);}
    31% {background: linear-gradient(to right, var(--dark) 0% 69%, var(--light) 69% 100%);}
    32% {background: linear-gradient(to right, var(--dark) 0% 68%, var(--light) 68% 100%);}
    33% {background: linear-gradient(to right, var(--dark) 0% 67%, var(--light) 67% 100%);}
    34% {background: linear-gradient(to right, var(--dark) 0% 66%, var(--light) 66% 100%);}
    35% {background: linear-gradient(to right, var(--dark) 0% 65%, var(--light) 65% 100%);}
    36% {background: linear-gradient(to right, var(--dark) 0% 64%, var(--light) 64% 100%);}
    37% {background: linear-gradient(to right, var(--dark) 0% 63%, var(--light) 63% 100%);}
    38% {background: linear-gradient(to right, var(--dark) 0% 62%, var(--light) 62% 100%);}
    39% {background: linear-gradient(to right, var(--dark) 0% 61%, var(--light) 61% 100%);}
    40% {background: linear-gradient(to right, var(--dark) 0% 60%, var(--light) 60% 100%);}
    41% {background: linear-gradient(to right, var(--dark) 0% 59%, var(--light) 59% 100%);}
    42% {background: linear-gradient(to right, var(--dark) 0% 58%, var(--light) 58% 100%);}
    43% {background: linear-gradient(to right, var(--dark) 0% 57%, var(--light) 57% 100%);}
    44% {background: linear-gradient(to right, var(--dark) 0% 56%, var(--light) 56% 100%);}
    45% {background: linear-gradient(to right, var(--dark) 0% 55%, var(--light) 55% 100%);}
    46% {background: linear-gradient(to right, var(--dark) 0% 54%, var(--light) 54% 100%);}
    47% {background: linear-gradient(to right, var(--dark) 0% 53%, var(--light) 53% 100%);}
    48% {background: linear-gradient(to right, var(--dark) 0% 52%, var(--light) 52% 100%);}
    49% {background: linear-gradient(to right, var(--dark) 0% 51%, var(--light) 51% 100%);}
    50% {background: linear-gradient(to right, var(--dark) 0% 50%, var(--light) 50% 100%);}
    51% {background: linear-gradient(to right, var(--dark) 0% 49%, var(--light) 49% 100%);}
    52% {background: linear-gradient(to right, var(--dark) 0% 48%, var(--light) 48% 100%);}
    53% {background: linear-gradient(to right, var(--dark) 0% 47%, var(--light) 47% 100%);}
    54% {background: linear-gradient(to right, var(--dark) 0% 46%, var(--light) 46% 100%);}
    55% {background: linear-gradient(to right, var(--dark) 0% 45%, var(--light) 45% 100%);}
    56% {background: linear-gradient(to right, var(--dark) 0% 44%, var(--light) 44% 100%);}
    57% {background: linear-gradient(to right, var(--dark) 0% 43%, var(--light) 43% 100%);}
    58% {background: linear-gradient(to right, var(--dark) 0% 42%, var(--light) 42% 100%);}
    59% {background: linear-gradient(to right, var(--dark) 0% 41%, var(--light) 41% 100%);}
    60% {background: linear-gradient(to right, var(--dark) 0% 40%, var(--light) 40% 100%);}
    61% {background: linear-gradient(to right, var(--dark) 0% 39%, var(--light) 39% 100%);}
    62% {background: linear-gradient(to right, var(--dark) 0% 38%, var(--light) 38% 100%);}
    63% {background: linear-gradient(to right, var(--dark) 0% 37%, var(--light) 37% 100%);}
    64% {background: linear-gradient(to right, var(--dark) 0% 36%, var(--light) 36% 100%);}
    65% {background: linear-gradient(to right, var(--dark) 0% 35%, var(--light) 35% 100%);}
    66% {background: linear-gradient(to right, var(--dark) 0% 34%, var(--light) 34% 100%);}
    67% {background: linear-gradient(to right, var(--dark) 0% 33%, var(--light) 33% 100%);}
    68% {background: linear-gradient(to right, var(--dark) 0% 32%, var(--light) 32% 100%);}
    69% {background: linear-gradient(to right, var(--dark) 0% 31%, var(--light) 31% 100%);}
    70% {background: linear-gradient(to right, var(--dark) 0% 30%, var(--light) 30% 100%);}
    71% {background: linear-gradient(to right, var(--dark) 0% 29%, var(--light) 29% 100%);}
    72% {background: linear-gradient(to right, var(--dark) 0% 28%, var(--light) 28% 100%);}
    73% {background: linear-gradient(to right, var(--dark) 0% 27%, var(--light) 27% 100%);}
    74% {background: linear-gradient(to right, var(--dark) 0% 26%, var(--light) 26% 100%);}
    75% {background: linear-gradient(to right, var(--dark) 0% 25%, var(--light) 25% 100%);}
    76% {background: linear-gradient(to right, var(--dark) 0% 24%, var(--light) 24% 100%);}
    77% {background: linear-gradient(to right, var(--dark) 0% 23%, var(--light) 23% 100%);}
    78% {background: linear-gradient(to right, var(--dark) 0% 22%, var(--light) 22% 100%);}
    79% {background: linear-gradient(to right, var(--dark) 0% 21%, var(--light) 21% 100%);}
    80% {background: linear-gradient(to right, var(--dark) 0% 20%, var(--light) 20% 100%);}
    81% {background: linear-gradient(to right, var(--dark) 0% 19%, var(--light) 19% 100%);}
    82% {background: linear-gradient(to right, var(--dark) 0% 18%, var(--light) 18% 100%);}
    83% {background: linear-gradient(to right, var(--dark) 0% 17%, var(--light) 17% 100%);}
    84% {background: linear-gradient(to right, var(--dark) 0% 16%, var(--light) 16% 100%);}
    85% {background: linear-gradient(to right, var(--dark) 0% 15%, var(--light) 15% 100%);}
    86% {background: linear-gradient(to right, var(--dark) 0% 14%, var(--light) 14% 100%);}
    87% {background: linear-gradient(to right, var(--dark) 0% 13%, var(--light) 13% 100%);}
    88% {background: linear-gradient(to right, var(--dark) 0% 12%, var(--light) 12% 100%);}
    89% {background: linear-gradient(to right, var(--dark) 0% 11%, var(--light) 11% 100%);}
    90% {background: linear-gradient(to right, var(--dark) 0% 10%, var(--light) 10% 100%);}
    91% {background: linear-gradient(to right, var(--dark) 0% 9%, var(--light) 9% 100%);}
    92% {background: linear-gradient(to right, var(--dark) 0% 8%, var(--light) 8% 100%);}
    93% {background: linear-gradient(to right, var(--dark) 0% 7%, var(--light) 7% 100%);}
    94% {background: linear-gradient(to right, var(--dark) 0% 6%, var(--light) 6% 100%);}
    95% {background: linear-gradient(to right, var(--dark) 0% 5%, var(--light) 5% 100%);}
    96% {background: linear-gradient(to right, var(--dark) 0% 4%, var(--light) 4% 100%);}
    97% {background: linear-gradient(to right, var(--dark) 0% 3%, var(--light) 3% 100%);}
    98% {background: linear-gradient(to right, var(--dark) 0% 2%, var(--light) 2% 100%);}
    99% {background: linear-gradient(to right, var(--dark) 0% 1%, var(--light) 1% 100%);}
    100% {background: linear-gradient(to right, var(--dark) 0% 0%, var(--light) 0% 100%); color: black}

}

@keyframes CustomizeTitleAnimation{
    0% {background: linear-gradient(to right, var(--dark) 0% 0%, #0000 0% 100%); color:black}
    1% {background: linear-gradient(to right, var(--dark) 0% 1%, #0000 1% 100%);}
    2% {background: linear-gradient(to right, var(--dark) 0% 2%, #0000 2% 100%);}
    3% {background: linear-gradient(to right, var(--dark) 0% 3%, #0000 3% 100%);}
    4% {background: linear-gradient(to right, var(--dark) 0% 4%, #0000 4% 100%);}
    5% {background: linear-gradient(to right, var(--dark) 0% 5%, #0000 5% 100%);}
    6% {background: linear-gradient(to right, var(--dark) 0% 6%, #0000 6% 100%);}
    7% {background: linear-gradient(to right, var(--dark) 0% 7%, #0000 7% 100%);}
    8% {background: linear-gradient(to right, var(--dark) 0% 8%, #0000 8% 100%);}
    9% {background: linear-gradient(to right, var(--dark) 0% 9%, #0000 9% 100%);}
    10% {background: linear-gradient(to right, var(--dark) 0% 10%, #0000 10% 100%);}
    11% {background: linear-gradient(to right, var(--dark) 0% 11%, #0000 11% 100%);}
    12% {background: linear-gradient(to right, var(--dark) 0% 12%, #0000 12% 100%);}
    13% {background: linear-gradient(to right, var(--dark) 0% 13%, #0000 13% 100%);}
    14% {background: linear-gradient(to right, var(--dark) 0% 14%, #0000 14% 100%);}
    15% {background: linear-gradient(to right, var(--dark) 0% 15%, #0000 15% 100%);}
    16% {background: linear-gradient(to right, var(--dark) 0% 16%, #0000 16% 100%);}
    17% {background: linear-gradient(to right, var(--dark) 0% 17%, #0000 17% 100%);}
    18% {background: linear-gradient(to right, var(--dark) 0% 18%, #0000 18% 100%);}
    19% {background: linear-gradient(to right, var(--dark) 0% 19%, #0000 19% 100%);}
    20% {background: linear-gradient(to right, var(--dark) 0% 20%, #0000 20% 100%);}
    21% {background: linear-gradient(to right, var(--dark) 0% 21%, #0000 21% 100%);}
    22% {background: linear-gradient(to right, var(--dark) 0% 22%, #0000 22% 100%);}
    23% {background: linear-gradient(to right, var(--dark) 0% 23%, #0000 23% 100%);}
    24% {background: linear-gradient(to right, var(--dark) 0% 24%, #0000 24% 100%);}
    25% {background: linear-gradient(to right, var(--dark) 0% 25%, #0000 25% 100%);}
    26% {background: linear-gradient(to right, var(--dark) 0% 26%, #0000 26% 100%);}
    27% {background: linear-gradient(to right, var(--dark) 0% 27%, #0000 27% 100%);}
    28% {background: linear-gradient(to right, var(--dark) 0% 28%, #0000 28% 100%);}
    29% {background: linear-gradient(to right, var(--dark) 0% 29%, #0000 29% 100%);}
    30% {background: linear-gradient(to right, var(--dark) 0% 30%, #0000 30% 100%);}
    31% {background: linear-gradient(to right, var(--dark) 0% 31%, #0000 31% 100%);}
    32% {background: linear-gradient(to right, var(--dark) 0% 32%, #0000 32% 100%);}
    33% {background: linear-gradient(to right, var(--dark) 0% 33%, #0000 33% 100%);}
    34% {background: linear-gradient(to right, var(--dark) 0% 34%, #0000 34% 100%);}
    35% {background: linear-gradient(to right, var(--dark) 0% 35%, #0000 35% 100%);}
    36% {background: linear-gradient(to right, var(--dark) 0% 36%, #0000 36% 100%);}
    37% {background: linear-gradient(to right, var(--dark) 0% 37%, #0000 37% 100%);}
    38% {background: linear-gradient(to right, var(--dark) 0% 38%, #0000 38% 100%);}
    39% {background: linear-gradient(to right, var(--dark) 0% 39%, #0000 39% 100%);}
    40% {background: linear-gradient(to right, var(--dark) 0% 40%, #0000 40% 100%);}
    41% {background: linear-gradient(to right, var(--dark) 0% 41%, #0000 41% 100%);}
    42% {background: linear-gradient(to right, var(--dark) 0% 42%, #0000 42% 100%);}
    43% {background: linear-gradient(to right, var(--dark) 0% 43%, #0000 43% 100%);}
    44% {background: linear-gradient(to right, var(--dark) 0% 44%, #0000 44% 100%);}
    45% {background: linear-gradient(to right, var(--dark) 0% 45%, #0000 45% 100%);}
    46% {background: linear-gradient(to right, var(--dark) 0% 46%, #0000 46% 100%);}
    47% {background: linear-gradient(to right, var(--dark) 0% 47%, #0000 47% 100%);}
    48% {background: linear-gradient(to right, var(--dark) 0% 48%, #0000 48% 100%);}
    49% {background: linear-gradient(to right, var(--dark) 0% 49%, #0000 49% 100%);}
    50% {background: linear-gradient(to right, var(--dark) 0% 50%, #0000 50% 100%);}
    51% {background: linear-gradient(to right, var(--dark) 0% 51%, #0000 51% 100%);}
    52% {background: linear-gradient(to right, var(--dark) 0% 52%, #0000 52% 100%);}
    53% {background: linear-gradient(to right, var(--dark) 0% 53%, #0000 53% 100%);}
    54% {background: linear-gradient(to right, var(--dark) 0% 54%, #0000 54% 100%);}
    55% {background: linear-gradient(to right, var(--dark) 0% 55%, #0000 55% 100%);}
    56% {background: linear-gradient(to right, var(--dark) 0% 56%, #0000 56% 100%);}
    57% {background: linear-gradient(to right, var(--dark) 0% 57%, #0000 57% 100%);}
    58% {background: linear-gradient(to right, var(--dark) 0% 58%, #0000 58% 100%);}
    59% {background: linear-gradient(to right, var(--dark) 0% 59%, #0000 59% 100%);}
    60% {background: linear-gradient(to right, var(--dark) 0% 60%, #0000 60% 100%);}
    61% {background: linear-gradient(to right, var(--dark) 0% 61%, #0000 61% 100%);}
    62% {background: linear-gradient(to right, var(--dark) 0% 62%, #0000 62% 100%);}
    63% {background: linear-gradient(to right, var(--dark) 0% 63%, #0000 63% 100%);}
    64% {background: linear-gradient(to right, var(--dark) 0% 64%, #0000 64% 100%);}
    65% {background: linear-gradient(to right, var(--dark) 0% 65%, #0000 65% 100%);}
    66% {background: linear-gradient(to right, var(--dark) 0% 66%, #0000 66% 100%);}
    67% {background: linear-gradient(to right, var(--dark) 0% 67%, #0000 67% 100%);}
    68% {background: linear-gradient(to right, var(--dark) 0% 68%, #0000 68% 100%);}
    69% {background: linear-gradient(to right, var(--dark) 0% 69%, #0000 69% 100%);}
    70% {background: linear-gradient(to right, var(--dark) 0% 70%, #0000 70% 100%);}
    71% {background: linear-gradient(to right, var(--dark) 0% 71%, #0000 71% 100%);}
    72% {background: linear-gradient(to right, var(--dark) 0% 72%, #0000 72% 100%);}
    73% {background: linear-gradient(to right, var(--dark) 0% 73%, #0000 73% 100%);}
    74% {background: linear-gradient(to right, var(--dark) 0% 74%, #0000 74% 100%);}
    75% {background: linear-gradient(to right, var(--dark) 0% 75%, #0000 75% 100%);}
    76% {background: linear-gradient(to right, var(--dark) 0% 76%, #0000 76% 100%);}
    77% {background: linear-gradient(to right, var(--dark) 0% 77%, #0000 77% 100%);}
    78% {background: linear-gradient(to right, var(--dark) 0% 78%, #0000 78% 100%);}
    79% {background: linear-gradient(to right, var(--dark) 0% 79%, #0000 79% 100%);}
    80% {background: linear-gradient(to right, var(--dark) 0% 80%, #0000 80% 100%);}
    81% {background: linear-gradient(to right, var(--dark) 0% 81%, #0000 81% 100%);}
    82% {background: linear-gradient(to right, var(--dark) 0% 82%, #0000 82% 100%);}
    83% {background: linear-gradient(to right, var(--dark) 0% 83%, #0000 83% 100%);}
    84% {background: linear-gradient(to right, var(--dark) 0% 84%, #0000 84% 100%);}
    85% {background: linear-gradient(to right, var(--dark) 0% 85%, #0000 85% 100%);}
    86% {background: linear-gradient(to right, var(--dark) 0% 86%, #0000 86% 100%);}
    87% {background: linear-gradient(to right, var(--dark) 0% 87%, #0000 87% 100%);}
    88% {background: linear-gradient(to right, var(--dark) 0% 88%, #0000 88% 100%);}
    89% {background: linear-gradient(to right, var(--dark) 0% 89%, #0000 89% 100%);}
    90% {background: linear-gradient(to right, var(--dark) 0% 90%, #0000 90% 100%);}
    91% {background: linear-gradient(to right, var(--dark) 0% 91%, #0000 91% 100%);}
    92% {background: linear-gradient(to right, var(--dark) 0% 92%, #0000 92% 100%);}
    93% {background: linear-gradient(to right, var(--dark) 0% 93%, #0000 93% 100%);}
    94% {background: linear-gradient(to right, var(--dark) 0% 94%, #0000 94% 100%);}
    95% {background: linear-gradient(to right, var(--dark) 0% 95%, #0000 95% 100%);}
    96% {background: linear-gradient(to right, var(--dark) 0% 96%, #0000 96% 100%);}
    97% {background: linear-gradient(to right, var(--dark) 0% 97%, #0000 97% 100%);}
    98% {background: linear-gradient(to right, var(--dark) 0% 98%, #0000 98% 100%);}
    99% {background: linear-gradient(to right, var(--dark) 0% 99%, #0000 99% 100%);}
    100% {background: linear-gradient(to right, var(--dark) 0% 100%, #0000 100% 100%); color:white}    
}

@keyframes reverseCustomizeTitleAnimation{
    0% {background: linear-gradient(to right, var(--dark) 0% 100%, #0000 100% 100%); color: white}
    1% {background: linear-gradient(to right, var(--dark) 0% 99%, #0000 99% 100%);}
    2% {background: linear-gradient(to right, var(--dark) 0% 98%, #0000 98% 100%);}
    3% {background: linear-gradient(to right, var(--dark) 0% 97%, #0000 97% 100%);}
    4% {background: linear-gradient(to right, var(--dark) 0% 96%, #0000 96% 100%);}
    5% {background: linear-gradient(to right, var(--dark) 0% 95%, #0000 95% 100%);}
    6% {background: linear-gradient(to right, var(--dark) 0% 94%, #0000 94% 100%);}
    7% {background: linear-gradient(to right, var(--dark) 0% 93%, #0000 93% 100%);}
    8% {background: linear-gradient(to right, var(--dark) 0% 92%, #0000 92% 100%);}
    9% {background: linear-gradient(to right, var(--dark) 0% 91%, #0000 91% 100%);}
    10% {background: linear-gradient(to right, var(--dark) 0% 90%, #0000 90% 100%);}
    11% {background: linear-gradient(to right, var(--dark) 0% 89%, #0000 89% 100%);}
    12% {background: linear-gradient(to right, var(--dark) 0% 88%, #0000 88% 100%);}
    13% {background: linear-gradient(to right, var(--dark) 0% 87%, #0000 87% 100%);}
    14% {background: linear-gradient(to right, var(--dark) 0% 86%, #0000 86% 100%);}
    15% {background: linear-gradient(to right, var(--dark) 0% 85%, #0000 85% 100%);}
    16% {background: linear-gradient(to right, var(--dark) 0% 84%, #0000 84% 100%);}
    17% {background: linear-gradient(to right, var(--dark) 0% 83%, #0000 83% 100%);}
    18% {background: linear-gradient(to right, var(--dark) 0% 82%, #0000 82% 100%);}
    19% {background: linear-gradient(to right, var(--dark) 0% 81%, #0000 81% 100%);}
    20% {background: linear-gradient(to right, var(--dark) 0% 80%, #0000 80% 100%);}
    21% {background: linear-gradient(to right, var(--dark) 0% 79%, #0000 79% 100%);}
    22% {background: linear-gradient(to right, var(--dark) 0% 78%, #0000 78% 100%);}
    23% {background: linear-gradient(to right, var(--dark) 0% 77%, #0000 77% 100%);}
    24% {background: linear-gradient(to right, var(--dark) 0% 76%, #0000 76% 100%);}
    25% {background: linear-gradient(to right, var(--dark) 0% 75%, #0000 75% 100%);}
    26% {background: linear-gradient(to right, var(--dark) 0% 74%, #0000 74% 100%);}
    27% {background: linear-gradient(to right, var(--dark) 0% 73%, #0000 73% 100%);}
    28% {background: linear-gradient(to right, var(--dark) 0% 72%, #0000 72% 100%);}
    29% {background: linear-gradient(to right, var(--dark) 0% 71%, #0000 71% 100%);}
    30% {background: linear-gradient(to right, var(--dark) 0% 70%, #0000 70% 100%);}
    31% {background: linear-gradient(to right, var(--dark) 0% 69%, #0000 69% 100%);}
    32% {background: linear-gradient(to right, var(--dark) 0% 68%, #0000 68% 100%);}
    33% {background: linear-gradient(to right, var(--dark) 0% 67%, #0000 67% 100%);}
    34% {background: linear-gradient(to right, var(--dark) 0% 66%, #0000 66% 100%);}
    35% {background: linear-gradient(to right, var(--dark) 0% 65%, #0000 65% 100%);}
    36% {background: linear-gradient(to right, var(--dark) 0% 64%, #0000 64% 100%);}
    37% {background: linear-gradient(to right, var(--dark) 0% 63%, #0000 63% 100%);}
    38% {background: linear-gradient(to right, var(--dark) 0% 62%, #0000 62% 100%);}
    39% {background: linear-gradient(to right, var(--dark) 0% 61%, #0000 61% 100%);}
    40% {background: linear-gradient(to right, var(--dark) 0% 60%, #0000 60% 100%);}
    41% {background: linear-gradient(to right, var(--dark) 0% 59%, #0000 59% 100%);}
    42% {background: linear-gradient(to right, var(--dark) 0% 58%, #0000 58% 100%);}
    43% {background: linear-gradient(to right, var(--dark) 0% 57%, #0000 57% 100%);}
    44% {background: linear-gradient(to right, var(--dark) 0% 56%, #0000 56% 100%);}
    45% {background: linear-gradient(to right, var(--dark) 0% 55%, #0000 55% 100%);}
    46% {background: linear-gradient(to right, var(--dark) 0% 54%, #0000 54% 100%);}
    47% {background: linear-gradient(to right, var(--dark) 0% 53%, #0000 53% 100%);}
    48% {background: linear-gradient(to right, var(--dark) 0% 52%, #0000 52% 100%);}
    49% {background: linear-gradient(to right, var(--dark) 0% 51%, #0000 51% 100%);}
    50% {background: linear-gradient(to right, var(--dark) 0% 50%, #0000 50% 100%);}
    51% {background: linear-gradient(to right, var(--dark) 0% 49%, #0000 49% 100%);}
    52% {background: linear-gradient(to right, var(--dark) 0% 48%, #0000 48% 100%);}
    53% {background: linear-gradient(to right, var(--dark) 0% 47%, #0000 47% 100%);}
    54% {background: linear-gradient(to right, var(--dark) 0% 46%, #0000 46% 100%);}
    55% {background: linear-gradient(to right, var(--dark) 0% 45%, #0000 45% 100%);}
    56% {background: linear-gradient(to right, var(--dark) 0% 44%, #0000 44% 100%);}
    57% {background: linear-gradient(to right, var(--dark) 0% 43%, #0000 43% 100%);}
    58% {background: linear-gradient(to right, var(--dark) 0% 42%, #0000 42% 100%);}
    59% {background: linear-gradient(to right, var(--dark) 0% 41%, #0000 41% 100%);}
    60% {background: linear-gradient(to right, var(--dark) 0% 40%, #0000 40% 100%);}
    61% {background: linear-gradient(to right, var(--dark) 0% 39%, #0000 39% 100%);}
    62% {background: linear-gradient(to right, var(--dark) 0% 38%, #0000 38% 100%);}
    63% {background: linear-gradient(to right, var(--dark) 0% 37%, #0000 37% 100%);}
    64% {background: linear-gradient(to right, var(--dark) 0% 36%, #0000 36% 100%);}
    65% {background: linear-gradient(to right, var(--dark) 0% 35%, #0000 35% 100%);}
    66% {background: linear-gradient(to right, var(--dark) 0% 34%, #0000 34% 100%);}
    67% {background: linear-gradient(to right, var(--dark) 0% 33%, #0000 33% 100%);}
    68% {background: linear-gradient(to right, var(--dark) 0% 32%, #0000 32% 100%);}
    69% {background: linear-gradient(to right, var(--dark) 0% 31%, #0000 31% 100%);}
    70% {background: linear-gradient(to right, var(--dark) 0% 30%, #0000 30% 100%);}
    71% {background: linear-gradient(to right, var(--dark) 0% 29%, #0000 29% 100%);}
    72% {background: linear-gradient(to right, var(--dark) 0% 28%, #0000 28% 100%);}
    73% {background: linear-gradient(to right, var(--dark) 0% 27%, #0000 27% 100%);}
    74% {background: linear-gradient(to right, var(--dark) 0% 26%, #0000 26% 100%);}
    75% {background: linear-gradient(to right, var(--dark) 0% 25%, #0000 25% 100%);}
    76% {background: linear-gradient(to right, var(--dark) 0% 24%, #0000 24% 100%);}
    77% {background: linear-gradient(to right, var(--dark) 0% 23%, #0000 23% 100%);}
    78% {background: linear-gradient(to right, var(--dark) 0% 22%, #0000 22% 100%);}
    79% {background: linear-gradient(to right, var(--dark) 0% 21%, #0000 21% 100%);}
    80% {background: linear-gradient(to right, var(--dark) 0% 20%, #0000 20% 100%);}
    81% {background: linear-gradient(to right, var(--dark) 0% 19%, #0000 19% 100%);}
    82% {background: linear-gradient(to right, var(--dark) 0% 18%, #0000 18% 100%);}
    83% {background: linear-gradient(to right, var(--dark) 0% 17%, #0000 17% 100%);}
    84% {background: linear-gradient(to right, var(--dark) 0% 16%, #0000 16% 100%);}
    85% {background: linear-gradient(to right, var(--dark) 0% 15%, #0000 15% 100%);}
    86% {background: linear-gradient(to right, var(--dark) 0% 14%, #0000 14% 100%);}
    87% {background: linear-gradient(to right, var(--dark) 0% 13%, #0000 13% 100%);}
    88% {background: linear-gradient(to right, var(--dark) 0% 12%, #0000 12% 100%);}
    89% {background: linear-gradient(to right, var(--dark) 0% 11%, #0000 11% 100%);}
    90% {background: linear-gradient(to right, var(--dark) 0% 10%, #0000 10% 100%);}
    91% {background: linear-gradient(to right, var(--dark) 0% 9%, #0000 9% 100%);}
    92% {background: linear-gradient(to right, var(--dark) 0% 8%, #0000 8% 100%);}
    93% {background: linear-gradient(to right, var(--dark) 0% 7%, #0000 7% 100%);}
    94% {background: linear-gradient(to right, var(--dark) 0% 6%, #0000 6% 100%);}
    95% {background: linear-gradient(to right, var(--dark) 0% 5%, #0000 5% 100%);}
    96% {background: linear-gradient(to right, var(--dark) 0% 4%, #0000 4% 100%);}
    97% {background: linear-gradient(to right, var(--dark) 0% 3%, #0000 3% 100%);}
    98% {background: linear-gradient(to right, var(--dark) 0% 2%, #0000 2% 100%);}
    99% {background: linear-gradient(to right, var(--dark) 0% 1%, #0000 1% 100%);}
    100% {background: linear-gradient(to right, var(--dark) 0% 0%, #0000 0% 100%); color: black}
}
