@import url("./style.min.css");

:root {
    --textfont: "KaiTi";
    --buttonfontsize: 27px;
    --textfontsize: 27px;
}

.en{
    font-family: "Comic Sans MS";
}

header h1 {
    font-size: 39px;
}

header h3 {
    font-size: 23px;
}

#customize h2{
    font-size: 30px;
}

#gridCustom {
    padding: 10px 20px 20px 20px;
}

#calculationType {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    header h1{
        font-size: 30px;
    }

    header h3{
        font-size: 13px;
    }

    #customize h2{
        font-size: 20px;
    }
}

#peek{
    font-size: 18px;
}